body {
  font-family: Roboto, sans-serif;
  min-height: 100vh; }

header {
  background: #2374ab;
  color: #fff;
  padding: 2em 0 1.5em 0; }
  header h1 {
    font-size: 4rem;
    border: 1px solid #fff;
    display: inline-block;
    padding: .05em .35em; }
  header p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0; }

#iconSelect {
  background: #ececec; }
  #iconSelect h5 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0; }

.icon {
  font-size: 1.35rem;
  color: #272932; }
  .icon:hover {
    color: #272932; }

.canvas {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin: 2em 0; }

.artboard {
  width: 100%;
  border: 1px solid #272932;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr)); }

.box {
  display: flex;
  justify-content: center;
  align-items: center; }

.captureBtn {
  padding: .75em 2em;
  font-size: 2rem; }

footer {
  padding: 1em 0;
  margin-top: auto;
  background: #4dccbd;
  color: #272932;
  font-weight: 300;
  font-size: 1.25rem; }
  footer p {
    margin-bottom: 0; }
  footer i {
    font-size: 1.5rem; }
  footer a {
    padding: .15em;
    color: #272932;
    transition: color .5s; }
    footer a:hover {
      color: #3d404f; }
