body {
  font-family: Roboto, sans-serif;
  min-height: 100vh; }

header {
  background: #2374ab;
  color: #fff;
  padding: 2em 0; }
  header h1 {
    font-size: 4rem;
    margin-bottom: 0; }
  header p {
    font-size: 1.5rem;
    font-weight: 300; }

.art-btn {
  background: #272932;
  color: #fff; }
  .art-btn:hover {
    color: #fff;
    background: #54586b; }

.icon {
  font-size: 1.35rem;
  color: #272932; }
  .icon:hover {
    color: #272932; }

#canvas {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1;
  justify-content: center; }

.artboard {
  width: 100%;
  height: 450px;
  margin: auto 0;
  border: 1px solid #272932;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  padding: .5em; }

footer {
  padding: 1em 0;
  margin-top: auto;
  background: #4dccbd;
  color: #272932;
  font-weight: 300;
  font-size: 1.25rem; }
  footer p {
    margin-bottom: 0; }
  footer i {
    font-size: 1.5rem; }
  footer a {
    padding: .15em;
    color: #272932;
    transition: color .5s; }
    footer a:hover {
      color: #3d404f; }
