body {
  font-family: Roboto, sans-serif;
  min-height: 100vh;
}

header {
  background: #2374ab;
  color: #fff;
  padding: 2em 0;

  h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }

  p {
    font-size: 1.5rem;
    font-weight: 300;
  }
}

.art-btn {
  background: #272932;
  color: #fff;

  &:hover {
    color: #fff;
    background: lighten(#272932, 20%);
  }
}

.icon {
  font-size: 1.35rem;
  color: #272932;

  &:hover {
    color: #272932;
  }
}

#canvas {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin: 2em 0;
}

.artboard {
  width: 100%;
  margin: auto 0;
  border: 1px solid #272932;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 1em 0;
  margin-top: auto;
  background: #4dccbd;
  color: #272932;
  font-weight: 300;
  font-size: 1.25rem;

  p {
    margin-bottom: 0;
  }

  i {
    font-size: 1.5rem;
  }

  a {
    padding: .15em;
    color: #272932;
    transition: color .5s;

    &:hover {
      color: lighten(#272932, 10%);
    }
  }
}